---
layout: default
---

<div class="home">

  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="author">
      <span class="date">{{ post.date }}</span>
    </p>
    <div class="content">
      {{ post.content }}
    </div>
  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="/page-{{ paginator.previous_page }}" class="previous">Previous</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="/page-{{ paginator.next_page }}" class="next">Next</a>
    {% endif %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
